[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "EigenRand"]
	path = EigenRand
	url = https://github.com/bab2min/EigenRand
[submodule "mnist"]
	path = mnist
	url = https://github.com/wichtounet/mnist.git
